/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1024px) {
 body{min-width:768px;}
 .main{width: 768px; margin: auto; position: relative;}
 	.form{width: 480px;margin: auto;}
 	#phone_number{
 		background-position: 168px 50%;
 	}
	.logo{
		width: 200px;
		margin: 25px auto 30px;
	}

	.title2 br{display: none;}

 /*============== Styles for NAVIGATION =================*/

	
		#toggle_nav_btn{
			width: 20px;
			height: 20px;
			display: block;
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 99;
			background: url(../images/nav_icon.png) 50% 50% no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}

		[role="navigation"] .menu{
			width: 320px;
			height: 100%;
			position: fixed;
			z-index: 999;
			top: 0;
			right: 0;
			padding: 60px 0 0;
			-moz-transform: translateX(100%);
			-webkit-transform: translateX(100%);
			-o-transform: translateX(100%);
			-ms-transform: translateX(100%);
			transform: translateX(100%);
			background: #fff url(../images/menu_bg.png) 100% 100% no-repeat;
			-webkit-background-size: 70%;
			     -o-background-size: 70%;
			        background-size: 70%;
		}

		#toggle_nav_btn,
		[role="navigation"] .menu,
		.nav_overlay{
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;
		}

			.menu_link{
				display: block;
				font-size: 14px;
				padding: 15px 20px 15px 60px;
			}
			.menu_item:first-child .menu_link{
				background: url(../images/menu_icon1.png) 5% 50% no-repeat;
				-webkit-background-size: 30px;
				background-size: 30px;
			}
			.menu_item:nth-child(2) .menu_link{
				background: url(../images/menu_icon2.png) 5% 50% no-repeat;
				-webkit-background-size: 30px;
				background-size: 30px;
			}
			.menu_item:last-child .menu_link{
				background: url(../images/menu_icon3.png) 5% 50% no-repeat;
				-webkit-background-size: 30px;
				background-size: 30px;
			}

		.navTrue [role="navigation"] .menu{
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-o-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

		.navTrue .nav_overlay{
			opacity: .5;
			visibility: visible;

		}
		.navTrue #toggle_nav_btn{
			z-index: 9999;
	    	background: url(../images/close_icon.png) 50% 50% no-repeat;
	    	-webkit-background-size: 100% ;
	    	     -o-background-size: 100% ;
	    	        background-size: 100% ;
		}



	/*============== !!! =================*/

}

/*@media only screen and (max-width: 995px) {
 body{min-width:768px;}

}*/

@media only screen and (max-width: 767px) {
	body{min-width:480px;}
	.main{width: 100%;}
	.form{width: 420px;margin: auto;}
	
	header{
		position: fixed;
		height: 40px;
		width: 100%;
		left: 0;
		top: 0;
		padding: 0 20px;
		z-index: 888;
	}

	
	#phone_number {
	    background-position: 138px 50%;
	}


	
}

@media only screen and (max-width: 479px) {
	body{min-width:300px;}

	[role="navigation"]{
		width: 250px;
	}
}

@media only screen and (max-width: 430px) {
body{min-width:320px;}

	.main,
	.form{
		width: 100%;
	}
	#phone_number {
	    background-position: 133px 50%;
	}
}

@media only screen and (max-width: 380px) {

	.title2 br{display: block;}
	#phone_number {
	    background-position: 100px 50%;
	}
}

@media only screen and (max-width: 320px) {
body{min-width:300px;}

	#phone_number {
	    background-position: 80px 50%;
	}
}