@import "../css/reset.css";
@import "../css/jquery-ui.css";
@import "../css/formstyler.css";
@import "../font/fonts.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}
.android body{font-family: 'Roboto', sans-serif;}
.ios body{font-family: 'Conv_SFUIText-RegularG2';}
.windows body{font-family: Arial;}

body {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.2;
  color: #9b9b9b;
  min-width: 320px;
  -webkit-text-size-adjust: none;
}
*{-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}
button{
  outline: none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.tt_upp {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

  [data-skin="light_grey"]{
    background-color: #F7F7F7;
  }


/*---------Global overlay----------*/

.nav_overlay{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
}

/*======================> Header <======================*/
.home nav{
  display: none;
}
.home .btn_orange,
.home .btn_white{
  width: 220px;
  letter-spacing: 1.5px;
  margin: 10px auto 30px;
}
.home_link_arrow{
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
  text-decoration: none;
  background: url(../images/menu_arrow.png) 50% 50% no-repeat;
  -webkit-background-size: 50%;
       -o-background-size: 50%;
          background-size: 50%;
}

header {}
/*nav{position: relative;}*/
  .logo{text-align: center;}
    .logo a{
      display: block;
      min-width: 200px;
      height: 85px;
      background: url(../images/logo.png) 0 0 no-repeat;
      text-decoration: none;
      text-indent: -9999px;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
    }
    .logo img{
      width: 100%;
      height: auto;
    }

    .menu_link{
      color: #020202;
      padding-left: 40px;
      text-transform: uppercase;
    }
    
    .menu_item.active{
      background-color: #F7F7F7;
    }
    .menu_link:hover{
      color: #FC743C;
      text-decoration: none;
    }



/*=====================> Content ========================*/
.content {padding: 20px 15px 40px 15px; min-height: 200px;}
.cont_pad{padding:0 0 0 0 !important;}


  /*-------  REGISTRATION  ------*/
  
  .ios .form label,
  .ios .form textarea,
  .ios .form input,
  .ios .form button{font-family: 'Conv_SF-UI-Display-Light';}

  .android .form label,
  .android .form textarea,
  .android .form input,
  .android .form button{font-family: 'Roboto', sans-serif;}

  .ios .form label,
  .ios .form textarea,
  .ios .form input,
  .ios .form button{font-family: Arial;}
  
    .form{}
      .form_row{
        margin-bottom: 20px;
      }
      .form label{
        color: #999;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        display: block;
        margin-bottom: 10px;
        letter-spacing: 0.75px;
      }
      .form_row input{
        height: 40px;
        width: 100%;
        padding: 10px 13px;
        border: 1px solid #d0d0d0;
      }
      .form_row textarea{
        width: 100%;
        min-height: 100px;
        resize: none;
        padding: 5px;
        border: 1px solid #CFCFCF;
      }
      #phone_number{
        text-align: center;
        color: #ED6F3B;
        background: url(../images/phone_numb_bg.png) 72px 50% no-repeat;
        -webkit-background-size: 25px 17px;
             -o-background-size: 25px 17px;
                background-size: 25px 17px;
      }

      .double_input .form_row{
        float: left;
        width: 50%;
        padding-left: 7px;
        margin-bottom: 0;
        border: 1px solid #d0d0d0;
      }
      .double_input .form_row:first-child{
        border-right: none;
      }
        .double_input .form_row input,
        .double_input .form_row .jq-selectbox__select{
          border: none;
        }
        .double_input .form_row .jq-selectbox__select{
          padding: 0 35px 0 10px;
        }
        .double_input .form_row .jq-selectbox{
          width: 78%;
          float: right;
        }
        .double_input label{
          margin-bottom: 0;
          line-height: 3;
          float: left;
          display: inline-block;
        }
        .form_row #flat_numb{
          width: 35%;
          line-height: 2.9;
          border: none;
          float: right;
          color: #ED6F3B;
        }


  /*-------   AUTHORIZATION   -------*/
    .figure{
      width: 100%;
      text-align: center;
    }
      .figure .img_box{
        width: 60px;
        height: 60px;
        display: block;
        padding: 19px 7px 15px 12px;
        margin: 0 auto 12px;
        background-color: #FFF;
        border: 1px solid #ed6f3b;
        -webkit-border-radius: 50%;
                border-radius: 50%;
      }
      .figure .img_box:hover{background-color: #F7F7F7;}
        .figure .img_box img{width: 100%;height: 100%;}
      
      .figure figcaption{}
      .figure a{
        color: #999;
        font-size: 13px;
        /*font-family: 'Conv_SFUIText-RegularG2';*/
      }

      .ios .figure a{font-family: 'Conv_SFUIText-RegularG2';}
      .android .figure a{font-family: 'Roboto', sans-serif;}
      .windows .figure a{font-family: Arial;}


  /*--------   PROFILE   -------*/
    .figure2{}
      .figure2 .figure{
        width: 48%;
        float: left;
      }
      .figure2 .figure .img_box{
        padding: 15px 12px;
        background-color: #ed6f3b;
      }
      .figure2 .figure .img_box:hover{
        background-color: #FC743C;
      }

    .figure3{}
      .figure3 .figure{
        width: 32%;
        float: left;
      }
      .figure3 .figure .img_box{
        padding: 12px;
      }


  /*--------   PERMIT   -------*/
    .form span{color: #666;}
    .tab_menu{}
        .tab_menu li:first-child .tab_menu_item{
          display: block;
          width: 100%;
          background: url(../images/guest_icon.png) 25px 50% no-repeat;
          -webkit-background-size: 17px 40px;
               -o-background-size: 17px 40px;
                  background-size: 17px 40px;
        }
        .tab_menu li:last-child .tab_menu_item{
          display: block;
          width: 100%;
          background: url(../images/car2_icon.png) 15px 50% no-repeat;
          -webkit-background-size: 40px 35px;
               -o-background-size: 40px 35px;
                  background-size: 40px 35px;
        }
        .tab_menu li .tab_menu_item{
          padding: 20px 5px 20px 65px !important;
          font-size: 13px;
        }

          .double_btn{
            font-size: 12px;
          }
          .double_btn div{
            width: 280px;
            margin: auto;
          }
          .double_btn span{
            width: 100%;
            display: inline-block;
          }
            .double_btn button{
              padding: 10px 4px;
              float: left;
              cursor: pointer;
              letter-spacing: 0.5px;
              border: 1px solid #ED6F3B;
            }
            .double_btn div button:first-child{
              color: #ED6F3B;
              background-color: #fff;
              -webkit-border-radius: 20px 0 0 20px;
                      border-radius: 20px 0 0 20px;
            }
            .double_btn div button:first-child:hover{
              color: #fff;
              background-color: #ED6F3B;
            }
            .double_btn div button:nth-child(2){
              color: #fff;
              background-color: #ED6F3B;
              -webkit-border-radius: 0 20px 20px 0;
                      border-radius: 0 20px 20px 0;
            }
            .double_btn div button:nth-child(2):hover{
              color: #ED6F3B;
              background-color: #FFF;
            }

      .permit_form .form_row .date{
        float: right;
        width: 80%;
      }
        input[id^="chb_car_numb"]{
          width: 15px;
          height: 15px;
          float: left;
          visibility: hidden;
        }
        input[id^="chb_car_numb"] + label{
          padding-left: 30px;
          display: inline-block;
          height: 21px;
          margin-bottom: 0;
          background: url(../images/radio.png) 5px 50% no-repeat;
          -webkit-background-size: 20px 20px;
               -o-background-size: 20px 20px;
                  background-size: 20px 20px;
        }
        input[id^="chb_car_numb"]:checked + label{
          background: url(../images/radio_checked.png) 5px 50% no-repeat;
          -webkit-background-size: 20px 20px;
               -o-background-size: 20px 20px;
                  background-size: 20px 20px;
        }
        input[id^="chb_car_numb"] + label span{
          line-height: 1.8;
          color: #999;
        }
        input[id^="chb_car_numb"]:checked + label span{
          color: #333;
        }

        .car_numb_block{
          width: 230px;
          margin: auto;
        }
          .car_numb_block div{
            float: left;
            padding: 5px 10px;
            text-align: center;
            border: 1px solid #A6A6A6;
          }
          .car_numb_block div:first-child{
            width: 70%;
            border-right: none;
            -webkit-border-radius: 7px 0 0 7px;
                    border-radius: 7px 0 0 7px;
          }
          .car_numb_block div:last-child{
            width: 30%;
            padding: 8.5px 17px;
            -webkit-border-radius: 0px 7px 7px 0;
                    border-radius: 0px 7px 7px 0;
          }
          .car_numb_block input{
            display: inline-block;
            border: none;
            height: 30px;
            float: left;
            padding: 0;
            color: #ED6F3B;
            text-align: center;
          }
            #car_id1{
              margin-top: 7px;
              width: 35px;
              font-size: 17px;
              text-transform: uppercase;
            }
            #car_id2{
              width: 55px;
              margin-top: 5px;
              font-size: 28px;              
              text-transform: uppercase;
            }
            #car_id3{
              margin-top: 7px;
              font-size: 17px;
              text-transform: uppercase;
              width: 35px;
            }
            #car_id4{
              width: 30px;
              margin: 0 auto 0px;
              font-size: 24px;
            }
            #car_id4 + span{position: relative;}
            #car_id4 + span:after{
              content: "_ _ _";
              width: 25px;
              font-size: 8px;
              color: #e97a45;
              position: absolute;
              left: -30px;
              bottom: -30px;
            }

            input#car_id1::-webkit-input-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id1::-moz-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id1:-moz-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id1:-ms-input-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}

            input#car_id2::-webkit-input-placeholder{font-size: 28px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id2::-moz-placeholder{font-size: 28px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id2:-moz-placeholder{font-size: 28px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id2:-ms-input-placeholder{font-size: 28px;font-weight: 700;color: #e97a45; text-align: center;}

            input#car_id3::-webkit-input-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id3::-moz-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id3:-moz-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}
            input#car_id3:-ms-input-placeholder{font-size: 17px;font-weight: 700;color: #e97a45; text-align: center;}

            input#car_id4::-webkit-input-placeholder{font-size: 24px;font-weight: 500;color: #e97a45; text-align: center;}
            input#car_id4::-moz-placeholder{font-size: 24px;font-weight: 500;color: #e97a45; text-align: center;}
            input#car_id4:-moz-placeholder{font-size: 24px;font-weight: 500;color: #e97a45; text-align: center;}
            input#car_id4:-ms-input-placeholder{font-size: 24px;font-weight: 500;color: #e97a45; text-align: center;}

/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px;}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}

.title1{
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  padding: 12px;
  background-color: #ED6F3B;
  text-transform: uppercase;
  position: relative;
}
.ios .title1{font-family: 'Conv_SFUIText-Medium';}
.android .title1{font-family: 'Roboto', sans-serif; font-weight: 500;}
.windows .title1{font-weight: 500;}

.title2{
  font-size: 22px;
  line-height: 1.2;
  color: #333;
}

.ios .title2{font-family: 'Conv_SF-UI-Display-Light';}



/*================================>> GOOGLE FONTS  <<========================================*/


  .font_display{
    font-family: 'Conv_SF-UI-Display-Light';
  }
  .font_sf_reg{
    font-family: 'Conv_SFUIText-RegularG2';
  }
  .font_sf_med{
    font-family: 'Conv_SFUIText-Medium';
  }
  .font_sf_bold{
    font-family: 'Conv_SFUIText-Bold';
  }


/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
    text-decoration: underline;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }

  .btn_orange{
    color: #fffaff;
    display: block;
    min-width: 200px;
    text-align: center;
    padding: 12px 15px;
    margin-bottom: 20px;
    margin: auto;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid #ED6F3C;
    background-color: #ED6F3C;
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  .btn_orange:hover{
    background-color: #ff6600;
    text-decoration: none;
  }

  .btn_white{
    color: #ED6F3C;
    text-align: center;
    padding: 12px 15px;
    display: block;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #ED6F3C;
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  .btn_white:hover{
    background-color: #f7f7f7;
    text-decoration: none;
  }
  .und_btn{
    color: #ED6F3C;
    border: none;
    display: block;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    text-decoration: underline;
    
  }
  .und_btn:hover{
    text-decoration: none;
  }

  .ios .und_btn{font-family: 'Conv_SFUIText-Bold';}
  .android .und_btn{font-family: 'Roboto', sans-serif;}
  .windows .und_btn{font-family: Arial;}


/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
  	cursor:pointer;
  	margin-top:0;
  	text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }



/*================================>> Footer <<========================================*/


/*============================ Arctic modal =============================*/
/*.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }
*/
/*------- placeholder  ------*/

.ios input::-webkit-input-placeholder{font-family: 'Conv_SFUIText-RegularG2';}
.ios input::-moz-placeholder{font-family: 'Conv_SFUIText-RegularG2';}
.ios input:-moz-placeholder{font-family: 'Conv_SFUIText-RegularG2';}
.ios input:-ms-input-placeholder{font-family: 'Conv_SFUIText-RegularG2';}

.andriod input::-webkit-input-placeholder{font-family: 'Roboto', sans-serif;}
.andriod input::-moz-placeholder{font-family: 'Roboto', sans-serif;}
.andriod input:-moz-placeholder{font-family: 'Roboto', sans-serif;}
.andriod input:-ms-input-placeholder{font-family: 'Roboto', sans-serif;}

.windows input::-webkit-input-placeholder{font-family: Arial;}
.windows input::-moz-placeholder{font-family: Arial;}
.windows input:-moz-placeholder{font-family: Arial;}
.windows input:-ms-input-placeholder{font-family: Arial;}
  
input::-webkit-input-placeholder{
  transition: all 0.5s ease;
  text-align: center;
   font-size: 14px;
    font-weight: 300;
    color: #e97a45;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input::-moz-placeholder{
    transition: all 0.5s ease;
  text-align: center;
   font-size: 14px;
    font-weight: 300;
    color: #e97a45;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-moz-placeholder{
    transition: all 0.5s ease;
  text-align: center;
   font-size: 14px;
    font-weight: 300;
    color: #e97a45;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder{
    transition: all 0.5s ease;
  text-align: center;
   font-size: 14px;
    font-weight: 300;
    color: #e97a45;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  /*===  input end    ===*/

  /*===  textarea start  ===*/
  
  .ios textarea::-webkit-input-placeholder{font-family: 'Conv_SFUIText-RegularG2';}
  .ios textarea::-moz-placeholder{font-family: 'Conv_SFUIText-RegularG2';}
  .ios textarea:-moz-placeholder{font-family: 'Conv_SFUIText-RegularG2';}
  .ios textarea:-ms-input-placeholder{font-family: 'Conv_SFUIText-RegularG2';}

  .andriod textarea::-webkit-input-placeholder{font-family: 'Roboto', sans-serif;}
  .andriod textarea::-moz-placeholder{font-family: 'Roboto', sans-serif;}
  .andriod textarea:-moz-placeholder{font-family: 'Roboto', sans-serif;}
  .andriod textarea:-ms-input-placeholder{font-family: 'Roboto', sans-serif;}

  .windows textarea::-webkit-input-placeholder{font-family: Arial;}
  .windows textarea::-moz-placeholder{font-family: Arial;}
  .windows textarea:-moz-placeholder{font-family: Arial;}
  .windows textarea:-ms-input-placeholder{font-family: Arial;}


  textarea::-webkit-input-placeholder{
  text-align: center;   
    transition: all 0.5s ease;
    color: #ED6F3B;
    opacity: 1;
    font-size: 14px;
  }
  textarea::-moz-placeholder{
  text-align: center;   
    transition: all 0.5s ease;
    color: #ED6F3B;
    opacity: 1;
    font-size: 14px;
  }
  textarea:-moz-placeholder{
  text-align: center;   
    transition: all 0.5s ease;
    color: #ED6F3B;
    opacity: 1;
    font-size: 14px;
  }
  textarea:-ms-input-placeholder{
  text-align: center;   
    transition: all 0.5s ease;
    color: #ED6F3B;
    opacity: 1;
    font-size: 14px;
  }

  textarea:focus::-webkit-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus::-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-ms-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  /*===  textarea end    ===*/